* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-container {
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
}

#product-img {
  max-inline-size: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

#card-text {
  padding: 1.2rem;
}

#tag {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  line-height: 1.7rem;
}

#price-box {
  display: flex;
  gap: 15px;
}

#discount {
  color: hsl(158, 36%, 37%);
}

#original {
  align-content: center;
  text-decoration: line-through;
}


button {
  color: white;
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  padding: 0.8rem 0;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}


#cart-icon {
  width: 5%;
}

.mb-big {
  margin-bottom: 0.8rem;
}

.mb-small {
  margin-bottom: 0.5rem;
}

.fw-big{
  font-weight: 700;
}

.fw-small {
  font-weight: 500;
}

.fs-big {
  font-size: clamp(1rem, 1.6rem + 1vw, 5rem);
}

.fs-small{
  font-size: clamp(0.3rem, 0.5rem + 1vw, 1.5rem);
}

.lightgray-text {
  color: hsl(228, 12%, 48%) ;
}

.fraunces {
  font-family: Fraunces;
}

.monserrat {
  font-family: Montserrat;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}